<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
  User:
  <input class="form-control" formControlName="user" />
  Message:
  <input class="form-control" formControlName="message" />
  <hr />
  <button class="btn btn-danger" type="submit" [disabled]="!messageForm.valid">Submit</button>
  <button class="btn btn-primary" style="margin:0 10px" (click)="closeConnection()">Disconnect</button>
</form>

<ul class="list-group" style="margin: 15px">
  <li class="list-group-item" *ngFor="let msg of messages">
    {{ msg }}
  </li>
</ul>
